.main main .container {
  width: 100%;
}

.main main .container .content {
  padding: 15px;
  width: 100%;
}

.main main .container .content h2 {
  font-size: 2em;
}

.main main .container .content .boxes {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.main main .container .content .boxes .box {
  border: none;
  border-radius: 11px;
  box-shadow: 0px 4px 12px 0 var(--shadow-color);
  width: 33.3%;
  padding: 10px 15px;
}

.main main .container .content .boxes .box h5 {
  color: white;
  font-size: 1.3em;
}

.main main .container .content .boxes .box p {
  color: white;
  font-size: .8em;
}

.main main .container .content .boxes .box span {
  color: white;
  font-size: 3em;
}

.main main .container .content .boxes .box img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%) hue-rotate(283deg) brightness(107%) contrast(103%);
  float: inline-end;
  width: 100px;
}

.main main .container .content .recent-orders {
  padding: 10px;
}

.main main .container .content .recent-orders h4 {
  font-size: 1.5em;
}

.main main .container .content .recent-orders .products {
  display: flex;
  padding: 15px 3%;
}

.main main .container .content .recent-orders .products .product-card {
  background-color: var(--bg-soft);
  border: 1px solid var(--border-color);
}

.main main .container .content .recent-orders .products .product-card a {
  padding: 10px;
}

.main main .container .content .recent-orders .products .product-card a .row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main main .container .content .recent-orders .products .product-card a .row-1 img {
  width: 70%;
}

.main main .container .content .recent-orders .products .product-card a .row-2 {
  color: #363636;
  padding: 5px 15px;
}

.main main .container .content .recent-orders .products .product-card a .row-2 .rate {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 7px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  justify-self: left;
  width: fit-content;
  padding: 5px;
}

.main main .container .content .recent-orders .products .product-card a .row-2 .rate img {
  width: 20px;
}

.main main .container .content .recent-orders .products .product-card a .row-2 .price {
  font-size: 1.3em;
  padding: 15px;
}

.main main .container .content .recent-orders .products .product-card:hover {
  box-shadow: 2px 2px 5px -2px black;
}

@media screen and (max-width: 768px) {
  .main main .container .content .boxes {
    flex-direction: column;
  }
  .main main .container .content .boxes .box {
    width: 100%;
  }
}
