.main main {
  padding: 10px 8%;
}

.main main .container {
  display: flex;
}

.main main .container .menu {
  padding: 10px;
}

.main main .container .menu .user-data {
  display: flex;
}

.main main .container .menu .user-data .icon img {
  width: 50px;
}

.main main .container .menu .user-data .data {
  padding: 5px;
}

.main main .container .menu .user-data .data .name {
  color: var(--primary-text-color);
}

.main main .container .menu .links {
  padding: 10px;
}

.main main .container .menu .links a {
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

.main main .container .menu .links a img {
  filter: brightness(0) saturate(100%) invert(40%) sepia(10%) saturate(329%) hue-rotate(180deg) brightness(92%) contrast(83%);
  width: 25px;
}

.main main .container .menu .links a span {
  color: var(--gray-color);
  padding: 5px;
}

.main main .container .menu .links a.on {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 15px;
}

.main main .container .menu .links a.on img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%) hue-rotate(283deg) brightness(107%) contrast(103%);
}

.main main .container .menu .links a.on span {
  color: white;
}

@media screen and (max-width: 640px) {
  .main main .container .menu {
    display: none;
  }
}
