@mixin secondaryColorFilter {
  filter: brightness(0) saturate(100%) invert(46%) sepia(62%) saturate(1161%) hue-rotate(140deg) brightness(94%) contrast(101%);
}

.main {
  main {
    .container {
      .content {
        width: 100%;
        h2 {
          font-size: 1.5em;
        }
        .orders {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 10px;
          .order {
            border: 1px solid var(--border-color);
            border-radius: 11px;
            padding: 10px;
            span {
              display: block;
              border: none;
              border-radius: 5px;
              padding: 2px 5px;
              width: 100%;
            }
            .details {
              padding: 10px 15px;
            }
            .products {
              border-top: 1px solid var(--border-color);
              padding: 0;
              h6 {
                font-size: 1.3em;
              }
              .products-list {
                a {
                  img {
                    width: 50px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}