<div class="drawer">
  <div class="section-1">
    <div class="close-div">
      <button id="close-btn">
        <img src="/assets/icons/close.svg" alt="close menu button" />
      </button>
    </div>
    <div class="brand">
      <img src="/assets/icons/brand.png" alt="brand icon" />
      <span class="vertical-line"></span>
      <a href="/">وبسایت فروشگاهی</a>
    </div>
  </div>
  <div class="section-2">
    <% if(!login_state){ %>
    <div class="auth-links">
      <a href="/auth/register">ثبت نام</a>
      <a href="/auth/login">ورود</a>
    </div>
    <% } else { %>
    <div class="user-data">
      <div class="name">
        <img src="/assets/icons/person.svg" alt="" />
        <span><%= user.first_name %></span>
      </div>
      <button id="exit-from-account-drawer-btn">
        <img src="/assets/icons/exit.svg" alt="" />
        <span>خروج</span>
      </button>
    </div>
    <% } %>
    <div class="action-links">
      <a href="/cart">
        <img src="/assets/icons/cart.svg" alt="" />
        <span>سبد خرید</span>
      </a>
      <a href="/favorites">
        <img src="/assets/icons/heart.svg" alt="" />
        <span>علاقه مندی ها</span>
      </a>
    </div>
    <div class="navbar">
      <a href="/">
        <img src="/assets/icons/house.svg" alt="" />
        <span>خانه</span>
      </a>
      <a href="/products">
        <img src="/assets/icons/product.svg" alt="" />
        <span>محصولات</span>
      </a>
      <a href="/support">
        <img src="/assets/icons/support.svg" alt="" />
        <span>پشتیبانی</span>
      </a>
      <a href="/about-us">
        <img src="/assets/icons/about-us.svg" alt="" />
        <span>درباره ما</span>
      </a>
    </div>
  </div>
</div>
