<div class="drawer">
  <div class="section-1">
    <div class="close-div">
      <button id="close-btn">
        <img src="/assets/icons/close.png" alt="close menu button" />
      </button>
    </div>
    <div class="brand">
      <img src="/assets/icons/brand.png" alt="brand icon" />
      <span class="vertical-line"></span>
      <a href="/">وبسایت فروشگاهی</a>
    </div>
  </div>
  <div class="section-2">
    <% if(!login_state){ %>
      <div class="auth-links">
        <a href="/auth/register">ثبت نام</a>
        <a href="/auth/login">ورود</a>
      </div>
    <% } else  { %>
      <div class="user-data">
        <div class="name">
          <img src="/assets/icons/person.png" alt="">
          <span><%= user.first_name %></span>
        </div>
        <button id="exit-from-account-drawer-btn">
          <img src="/assets/icons/exit.png" alt="">
          <span>خروج</span>
        </button>
      </div>
    <% } %>
    <div class="action-links">
      <a href="/cart">
        <img src="/assets/icons/cart.png" alt="" />
        <span>سبد خرید</span>
      </a>
      <a href="/favorites">
        <img src="/assets/icons/heart.png" alt="" />
        <span>علاقه مندی ها</span>
      </a>
    </div>
    <div class="navbar">
      <a href="/">
        <img src="/assets/icons/house.png" alt="" />
        <span>خانه</span>
      </a>
      <a href="/products">
        <img src="/assets/icons/product.png" alt="" />
        <span>محصولات</span>
      </a>
      <a href="/support">
        <img src="/assets/icons/support.png" alt="" />
        <span>پشتیبانی</span>
      </a>
      <a href="/about-us">
        <img src="/assets/icons/about-us.png" alt="" />
        <span>درباره ما</span>
      </a>
    </div>
  </div>
</div>
