<footer>
  <div class="side-right">
    <div class="brand">
      <a class="special" href="/">
        <img src="/assets/icons/brand.png" alt="" />
        <span class="vertical-line"></span>
        <h1>وبسایت فروشگاهی</h1>
      </a>
      <p><%= getValueByNameHelper(footerData, 'brand_slogan') %></p>
    </div>
    <div class="about-us">
      <p><%= getValueByNameHelper(footerData, 'footer_text') %></p>
    </div>
  </div>
  <div class="side-left">
    <div class="phone-number">
      <span class="title">شماره تلفن</span>
      <span class="phone-number"><%= toPersianDigitsHelper(getValueByNameHelper(footerData, 'phone_number')) %></span>
    </div>
    <div class="sentence">
      <p>با ما همراه باشید</p>
    </div>
  </div>
</footer>
