<header>
  <div class="section-1">
    <div class="drawer-menu">
      <button id="menu-btn">
        <img src="/assets/icons/menu.png" alt="menu icon" />
      </button>
    </div>
    <div class="brand">
      <a class="special" href="/">
        <img src="/assets/icons/brand.png" alt="" />
        <h1>وبسایت فروشگاهی</h1>
      </a>
    </div>
    <div class="search">
      <div class="box">
        <input
          type="text"
          id="search-input"
          placeholder="دنبال محصول خاصی میگردید؟"
        />
        <button id="search-btn">
          <img src="/assets/icons/search.svg" alt="" />
        </button>
        <div class="top-searches">
          <h6>بیشترین جستجوی های کاربران</h6>
          <div class="searches">
            <ul>
              <li>
                <a href="#search?q=هدفون">
                  <img src="/assets/icons/search.svg" alt="" />
                  <span>هدفون</span>
                </a>
              </li>
              <li>
                <a href="#search?q=هدفون">
                  <img src="/assets/icons/search.svg" alt="" />
                  <span>هدفون</span>
                </a>
              </li>
              <li>
                <a href="#search?q=هدفون">
                  <img src="/assets/icons/search.svg" alt="" />
                  <span>هدفون</span>
                </a>
              </li>
              <li>
                <a href="#search?q=هدفون">
                  <img src="/assets/icons/search.svg" alt="" />
                  <span>هدفون</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="user-actions">
      <div class="action-links">
        <a class="action-link" href="/favorites">
          <img src="/assets/icons/heart.png" alt="" />
        </a>
        <a class="action-link" href="/cart">
          <img src="/assets/icons/cart.png" alt="" />
        </a>
      </div>
      <span class="vertical-line"></span>
      <div class="auth-links">
        <a class="auth-link" href="/auth/register">ثبت نام</a>
        <a class="auth-link" href="/auth/login">ورود</a>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="section-2">
    <div class="navbar">
      <nav>
        <a href="/">
          <img src="/assets/icons/house.png" alt="" />
          <span>خانه</span>
        </a>
        <a href="/products">
          <img src="/assets/icons/product.png" alt="" />
          <span>محصولات</span>
        </a>
        <a href="/support">
          <img src="/assets/icons/support.png" alt="" />
          <span>پشتیبانی</span>
        </a>
        <a href="/about-us">
          <img src="/assets/icons/about-us.png" alt="" />
          <span>درباره ما</span>
        </a>
      </nav>
    </div>
    <div class="welcome-msg">
      <span id="greeting-text">صبح بخیر</span>
      <span>،</span>
      <span>به وبسایت ما خوش آمدید</span>
      <span class="vertical-line"></span>
      <img id="greeting-icon" src="/assets/icons/morning.png" alt="" />
    </div>
  </div>
</header>
