<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>صفحه مورد نظر یافت نشد:(</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/brand.png" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/404.css" />
  </head>
  <body>
    <div class="overlay hidden"></div>
    <%- include("includes/drawer") %>
    <div class="main">
      <%- include("includes/header", { page: '404' }) %>
      <div class="header-overlay hidden"></div>
      <main>
        <section class="not-found">
          <img src="/assets/images/404.avif" alt="" />
          <p>صفحه مورد نظر یافت نشد!</p>
          <a href="/">صفحه اصلی</a>
        </section>
      </main>
      <%- include("includes/footer") %>
    </div>
    <script src="/libs/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/scripts/global.js"></script>
  </body>
</html>
