<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>درباره ما | وبسایت فروشگاهی</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/brand.png" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/about-us.css">
  </head>
  <body>
    <div class="overlay hidden"></div>
    <%- include("includes/drawer") %>
    <div class="main">
      <%- include("includes/header") %>
      <div class="header-overlay hidden"></div>
      <main>
        <section class="about-us">
            <h1>درباره ما</h1>
            <p>
            ما یک تیم جوان و پرانرژی هستیم که با هدف ایجاد تجربه‌ای متفاوت در خرید
            آنلاین فعالیت خود را آغاز کردیم. از همان ابتدا تلاش کردیم تا با ارائه
            محصولات متنوع، باکیفیت و خدماتی حرفه‌ای، رضایت کامل مشتریانمان را جلب
            کنیم. در فروشگاه ما، شما فقط خرید نمی‌کنید؛ بلکه وارد دنیایی از
            انتخاب‌های خاص، قیمت‌های منصفانه و پشتیبانی صمیمانه می‌شوید. ما به
            سلیقه شما احترام می‌گذاریم و هر روز در تلاشیم تا بهتر از دیروز
            باشیم.ممنون که به ما اعتماد دارید.❤️
            </p>
        </section>
        <section class="features">
            <h3>ویژگی های ما</h3>
            <div class="feat-cards">
                <div class="feat-card">
                    <img src="/assets/gifs/helpdesk.gif" alt="">
                    <h5>پشتیبانی ۲۴ ساعته</h5>
                    <p>اگر به مشکلی برخوردید نگران نباشید! تیم پشتیبانی ۲۴ ساعته پاسخگوی تمام مشکلات شما خواهد بود و به شما کمک خواهد کرد.</p>
                </div>
                <div class="feat-card">
                    <img src="/assets/gifs/cybersecurity.gif" alt="">
                    <h5>سفارش آسان و ایمن</h5>
                    <p>شما میتوانید به راحتی محصول مورد نظر خود را سفارش دهید و نگران امنیت نباشید. ما از بهترین درگاه های پرداخت استفاده میکنیم.</p>
                </div>
                <div class="feat-card">
                    <img src="/assets/gifs/delivery-truck.gif" alt="">
                    <h5>ارسال مرسوله به سراسر کشور</h5>
                    <p>نگرانی بابت محل زندگی خود نداشته باشید اگر در ایران هستید هیچ مشکلی نخواهید خورد و مرسوله شما به راحتی به دسستان میرسد.</p>
                </div>
            </div>
        </section>
      </main>
      <%- include("includes/footer") %>
    </div>
    <script src="/scripts/global.js"></script>
  </body>
</html>
