<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>محصولات | وبسایت فروشگاهی</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/brand.png" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/libs/flexboxgrid/flexboxgrid.css" />
    <link rel="stylesheet" href="/styles/products.css">
  </head>
  <body>
    <div class="overlay hidden"></div>
    <%- include("includes/drawer") %>
    <div class="main">
      <%- include("includes/header") %>
      <div class="header-overlay hidden"></div>
      <main>
        <section class="products-section">
          <div class="products">
            <h1>محصولات</h1>
            <div class="filters">
              <div class="category">
                <label for="category">دسته بندی</label>
                <select name="" id="category">
                  <option value="electronics">کالای الکترونیک</option>
                  <option value="electronics">کالای الکترونیک</option>
                  <option value="electronics">کالای الکترونیک</option>
                  <option value="electronics">کالای الکترونیک</option>
                </select>
              </div>
              <div class="order-by">
                <label for="order-by">بر اساس</label>
                <select name="" id="order-by">
                  <option value="most-visted">پر بازدید ترین</option>
                  <option value="best-seller">پرفروش ترین</option>
                  <option value="newest">جدید ترین</option>
                  <option value="most-expensive">گران ترین</option>
                  <option value="the-cheapest">ارزان ترین</option>
                  <option value="buyers-suggestions">پیشنهادات خریداران</option>
                </select>
              </div>
            </div>
            <div class="products-list row">
              <div
                class="product-card col-xs-12 col-sm-8 col-md-6 col-lg-3"
              >
                <a class="special" href="/product">
                  <div class="row-1">
                    <img src="/assets/images/croma.png" alt="" />
                  </div>
                  <div class="row-2">
                    <h5>
                      هدفون بلوتوث کروما با میکروفون (پخش تا 16 ساعت، روی گوش،
                      مشکی)
                    </h5>
                    <div class="rate">
                      <span class="rate-number">۵</span>
                      <img src="/assets/icons/star.png" alt="" />
                    </div>
                    <span class="price">۱۳,۹۶۰,۰۰۰ تومان</span>
                  </div>
                </a>
              </div>
              <div
                class="product-card col-xs-12 col-sm-8 col-md-6 col-lg-3"
              >
                <a class="special" href="/product">
                  <div class="row-1">
                    <img src="/assets/images/croma.png" alt="" />
                  </div>
                  <div class="row-2">
                    <h5>
                      هدفون بلوتوث کروما با میکروفون (پخش تا 16 ساعت، روی گوش،
                      مشکی)
                    </h5>
                    <div class="rate">
                      <span class="rate-number">۵</span>
                      <img src="/assets/icons/star.png" alt="" />
                    </div>
                    <span class="price">۱۳,۹۶۰,۰۰۰ تومان</span>
                  </div>
                </a>
              </div>
              <div
                class="product-card col-xs-12 col-sm-8 col-md-6 col-lg-3"
              >
                <a class="special" href="/product">
                  <div class="row-1">
                    <img src="/assets/images/croma.png" alt="" />
                  </div>
                  <div class="row-2">
                    <h5>
                      هدفون بلوتوث کروما با میکروفون (پخش تا 16 ساعت، روی گوش،
                      مشکی)
                    </h5>
                    <div class="rate">
                      <span class="rate-number">۵</span>
                      <img src="/assets/icons/star.png" alt="" />
                    </div>
                    <span class="price">۱۳,۹۶۰,۰۰۰ تومان</span>
                  </div>
                </a>
              </div>
              <div
                class="product-card col-xs-12 col-sm-8 col-md-6 col-lg-3"
              >
                <a class="special" href="/product">
                  <div class="row-1">
                    <img src="/assets/images/croma.png" alt="" />
                  </div>
                  <div class="row-2">
                    <h5>
                      هدفون بلوتوث کروما با میکروفون (پخش تا 16 ساعت، روی گوش،
                      مشکی)
                    </h5>
                    <div class="rate">
                      <span class="rate-number">۵</span>
                      <img src="/assets/icons/star.png" alt="" />
                    </div>
                    <span class="price">۱۳,۹۶۰,۰۰۰ تومان</span>
                  </div>
                </a>
              </div>
              <div
                class="product-card col-xs-12 col-sm-8 col-md-6 col-lg-3"
              >
                <a class="special" href="/product">
                  <div class="row-1">
                    <img src="/assets/images/croma.png" alt="" />
                  </div>
                  <div class="row-2">
                    <h5>
                      هدفون بلوتوث کروما با میکروفون (پخش تا 16 ساعت، روی گوش،
                      مشکی)
                    </h5>
                    <div class="rate">
                      <span class="rate-number">۵</span>
                      <img src="/assets/icons/star.png" alt="" />
                    </div>
                    <span class="price">۱۳,۹۶۰,۰۰۰ تومان</span>
                  </div>
                </a>
              </div>
              <div
                class="product-card col-xs-12 col-sm-8 col-md-6 col-lg-3"
              >
                <a class="special" href="/product">
                  <div class="row-1">
                    <img src="/assets/images/croma.png" alt="" />
                  </div>
                  <div class="row-2">
                    <h5>
                      هدفون بلوتوث کروما با میکروفون (پخش تا 16 ساعت، روی گوش،
                      مشکی)
                    </h5>
                    <div class="rate">
                      <span class="rate-number">۵</span>
                      <img src="/assets/icons/star.png" alt="" />
                    </div>
                    <span class="price">۱۳,۹۶۰,۰۰۰ تومان</span>
                  </div>
                </a>
              </div>
              <div
                class="product-card col-xs-12 col-sm-8 col-md-6 col-lg-3"
              >
                <a class="special" href="/product">
                  <div class="row-1">
                    <img src="/assets/images/croma.png" alt="" />
                  </div>
                  <div class="row-2">
                    <h5>
                      هدفون بلوتوث کروما با میکروفون (پخش تا 16 ساعت، روی گوش،
                      مشکی)
                    </h5>
                    <div class="rate">
                      <span class="rate-number">۵</span>
                      <img src="/assets/icons/star.png" alt="" />
                    </div>
                    <span class="price">۱۳,۹۶۰,۰۰۰ تومان</span>
                  </div>
                </a>
              </div>
              <div
                class="product-card col-xs-12 col-sm-8 col-md-6 col-lg-3"
              >
                <a class="special" href="/product">
                  <div class="row-1">
                    <img src="/assets/images/croma.png" alt="" />
                  </div>
                  <div class="row-2">
                    <h5>
                      هدفون بلوتوث کروما با میکروفون (پخش تا 16 ساعت، روی گوش،
                      مشکی)
                    </h5>
                    <div class="rate">
                      <span class="rate-number">۵</span>
                      <img src="/assets/icons/star.png" alt="" />
                    </div>
                    <span class="price">۱۳,۹۶۰,۰۰۰ تومان</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="pagination">
              <button>
                  <img src="/assets/icons/back.png" style="transform: rotate(180deg);" alt="">
                </button>
                <a class="on special" href="#1">۱</a>
                <a class="special" href="#2">۲</a>
                <a class="special" href="#3">۳</a>
                <a class="special" href="#4">۴</a>
                <button>
                  <img src="/assets/icons/back.png" alt="">
              </button>
            </div>
          </div>
        </section>
      </main>
      <%- include("includes/footer") %>
    </div>
    <script src="/scripts/global.js"></script>
  </body>
</html>
