<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>سفارشات | وبسایت فروشگاهی</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/brand.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/user-panel/global.css">
    <link rel="stylesheet" href="/styles/user-panel/orders.css">
    <link rel="stylesheet" href="/libs/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="/libs/flexboxgrid/flexboxgrid.css">
  </head>
  <body>
    <%- include("../includes/drawer", { page: 'orders', state: 'user-panel' }) %>
    <div class="overlay hidden"></div>
    <div class="main">
      <%- include("../includes/header", { page: 'orders' }) %>
      <div class="header-overlay hidden"></div>
      <main>
        <div class="container">
          <%- include("includes/menu", { page: 'orders' }) %>
          <div class="content">
            <h2>سفارشات</h2>
            <div class="orders">
              <div class="order">
                <span style="background-color: #70c970;color: white;">تحویل داده شده</span>
                <div class="details">
                  <p>تاریخ ثبت : ۰۴/۰۳/۰۱</p>
                  <p>کد سفارش : swo-54</p>
                  <p>مبلغ : ۳۵,۰۰۰ تومن</p>
                </div>
                <div class="products">
                  <div class="products-list">
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="order">
                <span style="background-color: #70c970;color: white;">تحویل داده شده</span>
                <div class="details">
                  <p>تاریخ ثبت : ۰۴/۰۳/۰۱</p>
                  <p>کد سفارش : swo-54</p>
                  <p>مبلغ : ۳۵,۰۰۰ تومن</p>
                </div>
                <div class="products">
                  <div class="products-list">
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="order">
                <span style="background-color: #70c970;color: white;">تحویل داده شده</span>
                <div class="details">
                  <p>تاریخ ثبت : ۰۴/۰۳/۰۱</p>
                  <p>کد سفارش : swo-54</p>
                  <p>مبلغ : ۳۵,۰۰۰ تومن</p>
                </div>
                <div class="products">
                  <div class="products-list">
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="order">
                <span style="background-color: #70c970;color: white;">تحویل داده شده</span>
                <div class="details">
                  <p>تاریخ ثبت : ۰۴/۰۳/۰۱</p>
                  <p>کد سفارش : swo-54</p>
                  <p>مبلغ : ۳۵,۰۰۰ تومن</p>
                </div>
                <div class="products">
                  <div class="products-list">
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="order">
                <span style="background-color: #70c970;color: white;">تحویل داده شده</span>
                <div class="details">
                  <p>تاریخ ثبت : ۰۴/۰۳/۰۱</p>
                  <p>کد سفارش : swo-54</p>
                  <p>مبلغ : ۳۵,۰۰۰ تومن</p>
                </div>
                <div class="products">
                  <div class="products-list">
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                    <a href="/product/swp-50">
                      <img src="/assets/images/products/cooking_tools/swp-1/1.jpg" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <%- include("../includes/footer") %>
    </div>
    <script src="/libs/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/scripts/global.js"></script>
  </body>
</html>
