.main {
    main {
        .not-found {
            text-align: center;
            padding: 10px;
            p {
                font-size: 1.8em;
            }
            img {
                width: 80%;
            }
        }
    }
}