.main main .about-us {
  padding: 10px 5%;
  text-align: center;
}

.main main .about-us h1 {
  color: var(--secondary-color);
  font-size: 2em;
  padding: 15px;
}

.main main .about-us p {
  padding: 5px;
}

.main main .features {
  text-align: center;
  padding: 15px 5%;
}

.main main .features h3 {
  color: var(--secondary-color);
  font-size: 2em;
  padding: 15px;
}

.main main .features .feat-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.main main .features .feat-cards .feat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main main .features .feat-cards .feat-card img {
  width: 200px;
}

.main main .features .feat-cards .feat-card h5 {
  font-size: 1.8em;
  padding: 10px;
}

@media screen and (max-width: 640px) {
  .main main .features .feat-cards {
    flex-direction: column;
  }
}
