$primary-color: #ff9b17;
$secondary-color: #00b2a9;
$bg-color: #ffffff;
$bg-soft: #f9fafb;
$primary-text-color: #1a1a1a;
$secondary-text-color: #808080;
$border-color: rgba(0, 0, 0, 0.14);
$shadow-color: #000000;
$success-color: #10b981;
$error-color: #ef4444;
$link-color: $secondary-color;
$gray-color: #62666d;

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --bg-color: #{$bg-color};
  --bg-soft: #{$bg-soft};
  --primary-text-color: #{$primary-text-color};
  --secondary-text-color: #{$secondary-text-color};
  --border-color: #{$border-color};
  --shadow-color: #{$shadow-color};
  --success-color: #{$success-color};
  --error-color: #{$error-color};
  --link-color: #{$link-color};
  --gray-color: #{$gray-color};
}

@mixin secondaryColorFilter {
  filter: brightness(0) saturate(100%) invert(46%) sepia(62%) saturate(1161%) hue-rotate(140deg) brightness(94%) contrast(101%);
}

@mixin grayColorFilter {
  filter: brightness(0) saturate(100%) invert(40%) sepia(10%) saturate(329%) hue-rotate(180deg) brightness(92%) contrast(83%);
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Vazir;
}

::-webkit-scrollbar {
  background-color: var(--bg-color);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e9e9e9;
}

body {
  background-color: var(--bg-color);
  font-size: 16px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
}

p {
  color: var(--secondary-text-color);
}

a {
  text-decoration: none;
  position: relative;
  padding: 5px;
  color: var(--link-color);
}

a:not(.special)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

.vertical-line {
  border-left: 1px solid var(--border-color);
  height: 80%;
  margin: 0 10px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1500;
  transition: all 0.75s;
}

.header-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.hidden {
  display: none;
  opacity: 0;
}

.swiper-button-next,
.swiper-button-prev {
  filter: brightness(0) saturate(100%) invert(63%) sepia(63%) saturate(5182%)
    hue-rotate(143deg) brightness(95%) contrast(101%);
}

.swiper-pagination-bullet {
  background-color: var(--secondary-color);
}

.drawer {
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  right: 0;
  width: 65%;
  height: 100vh;
  transform: translateX(100vw);
  padding: 10px 0;
  z-index: 2000;
  transition: all 0.5s;
  .section-1 {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--primary-color);
    padding: 15px 0;
    .close-div {
      #close-btn {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        img {
          width: 50px;
        }
      }
    }
    .brand {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50px;
      }
      a {
        color: var(--primary-color);
        font-size: 1.2em;
      }
    }
  }
  .section-2 {
    .auth-links {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 2px solid var(--primary-color);
      font-size: 1.5em;
    }
    .user-data {
      display: flex;
      justify-content: space-around;
      border-bottom: 2px solid var(--primary-color);
      .name {
        display: flex;
        align-items: center;
        padding: 10px;
        img {
          width: 30px;
        }
        span {
          color: var(--primary-color);
          font-size: 1.5em;
        }
      }
      #exit-from-account-drawer-btn {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 10px;
        img {
          width: 25px;
        }
        span {
          color: var(--errors-alerts-color);
          font-size: 1.5em;
        }
      }
    }
    .action-links {
      border-bottom: 2px solid var(--secondary-color);
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
      padding: 10px 2%;
      a {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 5px;
        padding: 5px;
        span {
          padding: 5px;
        }
        img {
          filter: invert(64%) sepia(59%) saturate(1175%) hue-rotate(345deg)
            brightness(100%) contrast(103%);
          width: 25px;
        }
      }
    }
    .navbar {
      display: flex;
      flex-direction: column;
      padding: 10px 2%;
      a {
        display: flex;
        justify-content: right;
        align-items: center;
        font-size: 1.5em;
        gap: 5px;
        padding: 5px;
        img {
          width: 25px;
        }
      }
    }
  }
}
.drawer.on {
  transform: translateX(0);
}

header {
  position: relative;
  z-index: 1001;
}
header > {
  .section-1 {
    background-color: var(--bg-color);
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;
    padding: 15px 3%;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    .drawer-menu {
      display: none;
      button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        img {
          @include secondaryColorFilter();
          width: 30px;
        }
      }
    }
    .brand {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 50px;
          object-fit: contain;
        }
        h1 {
          color: var(--primary-color);
          padding: 0 10px;
        }
      }
    }
    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .box {
        width: 100%;
        .search-form {
          display: flex;
          align-items: center;
          #search-btn {
            background-color: var(--secondary-color);
            border: none;
            border-radius: 12px 0 0 12px;
            height: 45px;
            padding: 3.5px;
            cursor: pointer;
            img {
              width: 35px;
            }
          }
          input {
            border: none;
            height: 45px;
            border: 1px solid var(--border-color);
            border-radius: 0 12px 12px 0;
            padding: 15px;
            width: 100%;
            outline: none;
            width: 100%;
          }
        }
        .top-searches {
          pointer-events: none;
          background-color: var(--bg-color);
          border: 1px solid var(--border-color);
          border-radius: 0 0 10px 10px;
          opacity: 0;
          transform: translateY(100px);
          padding: 5px 15px;
          position: absolute;
          width: 100%;
          top: 100%;
          right: 0;
          z-index: 1001;
          transition: all 0.5s;
          h6 {
            padding: 5px;
            font-size: 1.1em;
          }
          .searches {
            padding: 5px;
            ul {
              list-style: none;
              li {
                padding: 5px;
                a {
                  display: flex;
                  justify-content: right;
                  align-items: center;
                  gap: 10px;
                  img {
                    width: 30px;
                  }
                }
              }
            }
          }
        }
        .top-searches.on {
          display: block;
          opacity: 1;
          pointer-events: auto;
          transform: translateY(0);
        }
      }
    }
    .user-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding: 5px;
      .action-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        .action-link {
          img {
            @include secondaryColorFilter();
            width: 25px;
          }
        }
      }
      .auth-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          color: var(--primary-color);
        }
        a:not(.special)::after {
          background-color: var(--primary-color);
        }
      }
      .user-data {
        position: relative;
        padding: 5px;
        #open-user-data-box-btn {
          background-color: transparent;
          border: none;
          cursor: pointer;
          img {
            @include secondaryColorFilter();
            width: 25px;
          }
          img:nth-child(2) {
            transition: all 0.75s;
          }
        }
        #open-user-data-box-btn.open {
          img:nth-child(2) {
            transform: rotate(180deg);
          }
        }
        .user-data-box {
          display: none;
          background-color: var(--bg-color);
          box-shadow: 2px 2px 5px -2px black;
          position: absolute;
          top: 100%;
          left: 0;
          transform: translateX(-30%);
          padding: 5px 10px;
          z-index: 5000;
          .name {
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--border-color);
            gap: 5px;
            padding: 5px;
            img {
              @include secondaryColorFilter();
              width: 25px;
            }
            span {
              color: var(--primary-text-color);
            }
          }
          #exit-from-account-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: transparent;
            border: none;
            gap: 5px;
            padding: 5px 10px;
            cursor: pointer;
            img {
              filter: brightness(0) saturate(100%) invert(22%) sepia(37%) saturate(7123%) hue-rotate(0deg) brightness(105%) contrast(108%);              width: 25px;
            }
            span {
              color: #ff2500;
            }
          }
        }
        .user-data-box.on {
          display: block;
        }
      }
    }
  }
  .section-2 {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    padding: 0 5%;
    .navbar nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.1em;
      padding: 5px;
      a {
        display: flex;
        flex-direction: row;
        border-left: 1px solid var(--border-color);
        color: var(--gray-color);
        margin: 0 5px;
        img {
          @include grayColorFilter();
          object-fit: contain;
          width: 25px;
        }
        span {
          padding: 5px;
        }
      }
      a.on {
        color: var(--secondary-color);
        img {
          @include secondaryColorFilter();
        }
      }
    }
    .welcome-msg {
      display: flex;
      align-items: center;
    }
  }
}

footer {
  display: grid;
  grid-template-columns: 7.5fr 2.5fr;
  border-top: 2px solid var(--primary-color);
  padding: 15px 5%;
  .side-right {
    .brand {
      padding: 15px;
      width: fit-content;
      a {
        border-bottom: 1px solid var(--border-color);
        display: flex;
        img {
          width: 50px;
        }
        h1 {
          color: var(--primary-color);
        }
      }
      p {
        padding: 5px;
      }
    }
    .about-us {
      padding: 5px 15px;
    }
  }
  .side-left {
    padding: 15px;
    .phone-number {
      display: flex;
      flex-direction: column;
      padding: 5px;
      .title {
        border-bottom: 1px solid var(--border-color);
        color: var(--secondary-color);
        font-weight: bold;
      }
      .phone-number {
        text-align: left;
      }
    }
    .sentence {
      padding: 5px;
      p {
        border-right: 3px solid var(--secondary-color);
        padding: 5px 15px;
      }
    }
  }
}

.products {
  padding: 15px 3%;
  .swiper-products {
    padding: 30px 5%;
    .product-card {
      background-color: var(--bg-soft);
      border: 1px solid var(--border-color);
      a {
        padding: 10px;
        .row-1 {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 70%;
          }
        }
        .row-2 {
          color: rgb(54, 54, 54);
          padding: 5px 15px;
          .rate {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 7px;
            border: 1px solid var(--border-color);
            border-radius: 10px;
            justify-self: left;
            width: fit-content;
            padding: 5px;
            img {
              width: 20px;
            }
          }
          .price {
            font-size: 1.3em;
            padding: 15px;
          }
        }
      }
    }
    .product-card:hover {
      box-shadow: 2px 2px 5px -2px black;
    }
  }
}

@media screen and (min-width: 1800px) {
  body {
    font-size: 22px;
  }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 12px;
    .main {
      header > {
        .section-1 {
          padding: 15px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    .main {
      header > {
        .section-1 {
          grid-template-columns: 3fr 4fr 3fr;
          > {
            .brand {
              h1 {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 12px;
    .main {
      header > {
        .section-1 {
          grid-template-columns: 1fr 9fr;
          padding: 15px 2%;
          > {
            .drawer-menu {
              display: flex;
              align-items: center;
              #menu-btn {
                display: block;
              }
            }
            .brand {
              display: none;
            }
            .user-actions {
              display: none;
            }
          }
        }
        .section-2 {
          display: none;
        }
      }
      footer {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .products {
    font-size: 20px;
  }
}

@media screen and (max-width: 375px) {
  body {
    font-size: 11px;
  }
}
