.main main .search-results {
  padding: 15px 10%;
}

.main main .search-results h1 {
  color: var(--primary-color);
  font-size: 2em;
  padding: 10px;
}

.main main .search-results .products .product {
  width: 100%;
}

.main main .search-results .products .product a {
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  color: #363636;
  gap: 15px;
}

.main main .search-results .products .product a .image img {
  width: 120px;
}

.main main .search-results .products .product a .detail {
  display: flex;
  flex-direction: column;
}

.main main .search-results .products .product a .detail h5 {
  padding: 5px;
}

.main main .search-results .products .product a .detail .rate {
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  justify-self: left;
  padding: 5px 10px;
  align-items: center;
  width: fit-content;
}

.main main .search-results .products .product a .detail .rate img {
  width: 25px;
}

@media screen and (max-width: 640px) {
  .main main .products .product a {
    flex-direction: column;
  }
}
