.main main .support-section {
  text-align: center;
  padding: 15px 10%;
}

.main main .support-section h1 {
  color: var(--secondary-color);
  font-size: 2.5em;
}

.main main .support-section p {
  padding: 10px;
}

.main main .support-section .contact {
  display: flex;
  justify-content: space-between;
}

.main main .support-section .contact .contact-way {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main main .support-section .contact .contact-way h3 {
  font-size: 2em;
}

.main main .support-section .contact .contact-way img {
  width: 200px;
}

@media screen and (max-width: 640px) {
  .main main .support-section .contact {
    flex-direction: column-reverse;
  }
}
