$primary-color: #ff9b17;
$secondary-color: #fcb454;
$highlights-color: #fff085;
$errors-alerts-color: #f16767;
$border-color: rgba(0, 0, 0, 0.14);

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --highlights-color: #{$highlights-color};
  --errors-alerts-color: #{$errors-alerts-color};
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Vazir;
}

::-webkit-scrollbar {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  position: relative;
  padding: 5px;
  color: var(--primary-color);
}

a:not(.special)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

.vertical-line {
  border-left: 1px solid $border-color;
  height: 80%;
  margin: 0 10px;
}

header {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr;
  padding: 5px 3%;
  border-bottom: 2px solid var(--primary-color);
  .brand {
    a {
      display: flex;
      justify-content: center;
      img {
        width: 50px;
        object-fit: contain;
      }
      h1 {
        padding: 0 10px;
      }
    }
  }
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    .box {
      display: flex;
      align-items: center;
      width: 100%;
      #search-btn {
        background-color: var(--primary-color);
        border: none;
        border-radius: 12px 0 0 12px;
        height: 45px;
        padding: 3.5px;
        cursor: pointer;
        img {
          width: 35px;
        }
      }
      input {
        border: none;
        height: 45px;
        border: 1px solid $border-color;
        border-radius: 0 12px 12px 0;
        padding: 15px;
        width: 100%;
        outline: none;
        width: 100%;
      }
    }
  }
  .user-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    .action-links {
      gap: 5px;
    }
    .action-links::after {
      content: '';
      width: 30px;
      height: 16px;
      background-color: $border-color;

    }
  }
}
