main {
  padding: 15px;
  .website-advertise {
    padding: 5px;
    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 25px;
      margin: 5px 5%;
      .side-1 {
        h3 {
          color: var(--primary-color);
          font-size: 3em;
        }
        p {
          color: gray;
          padding: 5px;
        }
      }
      .side-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 55%;
        }
      }
    }
  }
  .bestsellers {
    h4 {
      border-right: 4px solid var(--highlights-color);
      padding: 5px 10px;
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 1800px) {
  .main {
    main {
      .website-advertise {
        .card {
          .side-2 {
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
    .swiper-button-prev, .swiper-button-next {
        display: none;
    }
    .main {
        main {
            .website-advertise {
                .card {
                    flex-direction: column-reverse;
                    margin: 5px;
                    padding: 5px;
                }
            }
        }
    }
}
