main {
  padding: 15px;
}

main .website-advertise {
  padding: 5px;
}

main .website-advertise .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  margin: 5px 5%;
}

main .website-advertise .card .side-1 h3 {
  color: var(--primary-color);
  font-size: 2em;
}

main .website-advertise .card .side-1 p {
  color: gray;
  padding: 5px;
}

main .website-advertise .card .side-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .website-advertise .card .side-2 img {
  width: 50%;
}

main .bestsellers h4 {
  border-right: 4px solid var(--errors-alerts-color);
  padding: 5px 10px;
  font-size: 1.5em;
}

main .categories h4 {
  color: var(--primary-color);
  font-size: 1.3em;
  text-align: right;
}

main .categories .swiper {
  padding: 15px;
}

main .categories .swiper .swiper-wrapper {
  margin: 5px;
  padding: 5px 5%;
}

main .categories .swiper .swiper-wrapper .swiper-slide {
  border: none;
  border-radius: 11px;
  box-shadow: 2px 2px 5px -2px black;
  overflow: hidden;
}

main .categories .swiper .swiper-wrapper .swiper-slide a {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 200px;
}

main .categories .swiper .swiper-wrapper .swiper-slide a img {
  mask-image: linear-gradient(to top, transparent 0%, black 70%);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 70%);
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

main .categories .swiper .swiper-wrapper .swiper-slide a .details {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  padding: 15px;
}

main .categories .swiper .swiper-wrapper .swiper-slide a .details h5 {
  font-size: 1.5em;
}

main .most-visted h4 {
  border-right: 4px solid var(--errors-alerts-color);
  padding: 5px 10px;
  font-size: 1.5em;
}

main .faq-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
}

main .faq-section .side-right h4 {
  color: var(--primary-color);
  font-size: 2em;
}

main .faq-section .side-right p {
  color: gray;
}

main .faq-section .side-right ul {
  list-style: none;
  padding: 15px;
}

main .faq-section .side-right ul .faq-item {
  padding: 5px;
}

main .faq-section .side-right ul .faq-item label {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  padding: 5px;
  cursor: pointer;
}

main .faq-section .side-right ul .faq-item label img {
  object-fit: contain;
  width: 25px;
  transition: all .5s;
}

main .faq-section .side-right ul .faq-item .faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
}

main .faq-section .side-right ul .faq-item input:checked ~ .faq-answer {
  max-height: 50px;
}

main .faq-section .side-right ul .faq-item input:checked ~ label img {
  transform: rotate(180deg);
}

main .faq-section .side-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .faq-section .side-left img {
  width: 60%;
}

@media screen and (min-width: 1800px) {
  .main main .website-advertise .card .side-2 img {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .swiper-button-prev, .swiper-button-next {
    display: none;
  }
  .main main .website-advertise .card {
    flex-direction: column-reverse;
    margin: 5px;
    padding: 5px;
  }
  .main main .faq-section {
    flex-direction: column-reverse;
  }
}
