.image-viewer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1503;
}

.image-viewer button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5em;
  padding: 15px 20px;
  cursor: pointer;
}

.image-viewer img {
  width: 30%;
}

.image-viewer.on {
  display: flex;
}

.main main {
  padding: 15px 8%;
}

.main main .product-section {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  gap: 15px;
}

.main main .product-section .images {
  width: 45%;
}

.main main .product-section .images .main-image img {
  width: 100%;
}

.main main .product-section .images .images-list {
  display: flex;
}

.main main .product-section .images .images-list .image-btn {
  background-color: transparent;
  border: 1px solid rgba(54, 54, 54, 0.14);
  border-radius: 11px;
  padding: 5px;
  margin: 2px;
  width: 15%;
  cursor: pointer;
}

.main main .product-section .images .images-list .image-btn img {
  width: 100%;
}

.main main .product-section .details {
  display: flex;
  flex-direction: column;
  color: #363636;
  position: relative;
  width: 100%;
}

.main main .product-section .details h1 {
  font-size: 2em;
}

.main main .product-section .details .rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(54, 54, 54, 0.14);
  border-radius: 11px;
  gap: 7px;
  padding: 5px;
  margin: 10px;
  width: fit-content;
}

.main main .product-section .details .rate img {
  width: 20px;
}

.main main .product-section .details .number {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5px;
  margin: 2px;
}

.main main .product-section .details .number img {
  width: 20px;
}

.main main .product-section .details .price {
  padding: 10px;
}

.main main .product-section .details .price h4 {
  font-size: 1.8em;
  padding: 10px;
}

.main main .product-section .details .buttons {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  justify-self: left;
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.main main .product-section .details .buttons button {
  background-color: transparent;
  border: none;
  border-radius: 11px;
  color: white;
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  cursor: pointer;
}

.main main .product-section .details .buttons button img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7492%) hue-rotate(262deg) brightness(103%) contrast(102%);
  width: 25px;
}

.main main .product-section .details .buttons button.favorite {
  background-color: var(--errors-alerts-color);
}

.main main .product-section .details .buttons button.cart {
  background-color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  .image-viewer img {
    width: 55%;
  }
  .main main .product-section .images .images-list .image-btn {
    width: 25%;
  }
  .main main .product-section .details .buttons {
    flex-direction: column;
    position: static;
  }
  .main main .product-section .details .buttons button {
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
  .image-viewer img {
    width: 65%;
  }
  .main main {
    padding: 15px 0;
  }
  .main main .product-section {
    flex-direction: column;
  }
  .main main .product-section > .images {
    text-align: center;
    width: 100%;
  }
  .main main .product-section > .images .main-image img {
    width: 40%;
  }
  .main main .product-section > .images .images-list {
    width: 60%;
  }
  .main main .product-section > .images .images-list .image-btn {
    width: 25%;
  }
  .main main .product-section > .details .buttons {
    background-color: white;
    padding: 20px;
    position: sticky;
    width: 100%;
  }
}
